{% extends "base/base.html" %}

{% block heading %}Asset{% endblock heading %}

{% block navigation_tab %}

<a href="{% url 'assetoverview' %}">
<div class="content_navigation_link">Overview</div>
<span></span>
</a>

<a href="{% url 'assetcapturehardwarecontain' %}">
<div class="content_navigation_link">Capture</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Inventory</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Scanner</div>
<span></span>
</a>


{% endblock navigation_tab %}

