{% extends "page_html/asset_capture.html" %}

{% block assetcapturecontain %}

<div class="hardware_capture_input">

    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Document Type">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="License / Document Number">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Issuing Authority / Government Body">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="License Holder / Company Name">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Business Activity / Scope">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Issue Date and Expiry / Renewal Date">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Renewal Cycle">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Reminder / Alert Settings & Current Status">
    </div>
    

    <button>Save</button>

</div>

{% endblock assetcapturecontain %}