{% extends "page_html/asset_capture.html" %}

{% block assetcapturecontain %}

<div class="hardware_capture_input">

    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Asset Name">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Select Category">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Specification">
    </div>
    <div class="hardware_capture_input_filed_container">
        <form action="">
            <select name="location" class='input_field_dropdown'>
              <option value="hi">Select Location</option>
              <option value="Compliance">type</option>
              <option value="Compliance">Business Identification Details</option>
              <option value="Compliance">Compliance & Regulatory Details</option>
              <option value="Compliance">Financial and Payment Details</option>
              <option value="Compliance">Document Management & Security</option>
            </select>
          </form>
    </div>
    <div class="hardware_capture_input_filed_container">
        <form action="">
            <select name="unit" class='input_field_dropdown'>
              <option value="hi">Select Unit</option>
              <option value="Compliance">type</option>
              <option value="Compliance">Business Identification Details</option>
              <option value="Compliance">Compliance & Regulatory Details</option>
              <option value="Compliance">Financial and Payment Details</option>
              <option value="Compliance">Document Management & Security</option>
            </select>
          </form>
    </div>
    <div class="hardware_capture_input_filed_container">
        <form action="">
            <select name="status" class='input_field_dropdown'>
              <option value="hi">Select Status</option>
              <option value="Compliance">type</option>
              <option value="Compliance">Business Identification Details</option>
              <option value="Compliance">Compliance & Regulatory Details</option>
              <option value="Compliance">Financial and Payment Details</option>
              <option value="Compliance">Document Management & Security</option>
            </select>
          </form>
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="date" name="username" id="username" placeholder="dd-mm-yy">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="date" name="username" id="username" placeholder="dd-mm-yy">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Purchase From">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Life Time">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="file" name="username" id="username" placeholder="Choose File" >
    </div>
  
    <button>Save</button>

</div>

{% endblock assetcapturecontain %}

