{% extends "page_html/asset_capture.html" %}

{% block assetcapturecontain %}

<div class="hardware_capture_input">

    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Asset Name">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Select Category">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Specification">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Select Location">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Select Unit">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Select Status">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="dd-mm-yy">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="dd-mm-yy">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Purchase From">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Life Time">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Choose File">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Choose File">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Choose File">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Choose File">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Choose File">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Choose File">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Choose File">
    </div>

    <button>Save</button>

</div>

{% endblock assetcapturecontain %}

