{% extends "page_html/asset_capture.html" %}

{% block assetcapturecontain %}

<div class="hardware_capture_input">

    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Software Name">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Version">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Publisher">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Category">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Install Location">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="License Key">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="License Type">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="License Model">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Total Licenses Purchased">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder=" Licenses Assigned / In Use">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Licenses Available ">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="License Expiry / Renewal Date">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Purchase Date & Contract Term">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Purchase Order / Invoice Number">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="License Cost">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Assigned To">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder=" Linked Devices / Installations">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Compliance Status">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Support/Maintenance Contract Info">
    </div>
    <div class="hardware_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="SaaS Tenant / Subscription ID">
    </div>

    <button>Save</button>

</div>

{% endblock assetcapturecontain %}