{% extends "page_html/client.html" %}

{% block main_data %}

<div class="client_add_input">
    <div class="client_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Client Name">
    </div>
    <div class="client_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Company">
    </div>
    <div class="client_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="GST No">
    </div>
    <div class="client_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Address">
    </div>
    <div class="client_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Mobile No">
    </div>
    <div class="client_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Email">
    </div>
    <div class="client_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Country">
    </div>
    <button>Add Client</button>
</div>

{% endblock main_data %}