{% extends "base/base.html" %}

{% block heading %}Finance{% endblock heading %}

{% block navigation_tab %}

<a href="">
<div class="content_navigation_link">Overview</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Accounts</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Transactions</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Budgets</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Investments</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Goals</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Invoices</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Tax</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Loans</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Payments</div>
<span></span>
</a>

{% endblock navigation_tab %}

{% block main_data %}
this is a finanace area
{% endblock main_data %}