{% extends "page_html/inventory.html" %}

{% block main_data %}
<div class="inventory_container">
    <div class="inventory_add_navbar_container">
        <div class="inventory_add_navbar">
            <input type="date" name="username" id="username" placeholder="Date">
        </div>
        <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="Items">
        </div>
        <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="Qty">
        </div>
        <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="Amount">
        </div>
        <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="Category">
        </div>
        <button>Add</button>
    </div>
    <div class="inventory_data_contain">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>SL-NO</th>
                        <th>INVOICE-NO</th>
                        <th>SUPPLIER</th>
                        <th>ITEMS</th>
                        <th>HSN-CODE</th>
                        <th>QTY</th>
                        <th>RATE</th>
                        <th>TAXABLE</th>
                        <th>GST-RATE</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>SSPL/2526001</td>
                        <td>Electrokraft</td>
                        <td>Mouse</td>
                        <td>854875</td>
                        <td>10</td>
                        <td>220</td>
                        <td>2200</td>
                        <td>18%</td>
                        <td>198</td>
                        <td>198</td>
                        <td>2596</td>
                    </tr>
                </tbody>
              </table>
             </div>
        
    </div>
</div>

{% endblock main_data %}