{% extends "page_html/inventory.html" %}

{% block main_data %}

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>SL-NO</th>
                <th>ITEMS</th>
                <th>BALANCE</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Keyboard</td>
                <td>10</td>
                <td>Active</td>
            </tr>
        </tbody>
      </table>
     </div>

{% endblock main_data %}