{% extends "base/base.html" %}

{% block heading %}Inventory{% endblock heading %}

{% block navigation_tab %}

<a href="">
<div class="content_navigation_link">Overview</div>
</a>

<a href="">
<div class="content_navigation_link">Products</div>
</a>

<a href="">
<div class="content_navigation_link">Categories</div>
</a>

<a href="">
<div class="content_navigation_link">Stock</div>
</a>

<a href="">
<div class="content_navigation_link">Suppliers</div>
</a>

<a href="">
<div class="content_navigation_link">Clients</div>
</a>

<a href="">
<div class="content_navigation_link">Purchases</div>
</a>

<a href="">
<div class="content_navigation_link">Sales</div>
</a>

<a href="">
<div class="content_navigation_link">Returns</div>
</a>

<a href="">
<div class="content_navigation_link">Reports</div>
</a>

<a href="">
<div class="content_navigation_link">Valuation</div>
</a>

{% endblock navigation_tab %}

{% block main_data %}
ata project area
{% endblock main_data %}