{% extends "page_html/inventory.html" %} {% block main_data %}

<div class="inventory_container">
    
  <div class="inventory_add_navbar_container">
    <div class="inventory_add_navbar_container_inner_left">
    <div class="inventory_add_navbar">
          <input type="text" name="username" id="username" placeholder="Search">
    </div>
     <a href="{% url 'inventoryproduct' %}">
        <button>Add Product</button>
      </a>
    </div>
   
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>SL-NO</th>
          <th>ITEMS</th>
          <th>UNIT</th>
          <th>BALANCE</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Keyboard</td>
          <td>Pcs</td>
          <td>10</td>
          <td>Active</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock main_data %}
