{% extends "page_html/inventory.html" %}

{% block main_data %}
<div class="inventory_container">
    <div class="inventory_add_navbar_container">
        <div class="inventory_add_navbar_container_inner_left">

        <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="Items">
        </div>
        <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="Brand/Model">
        </div>
        
        </div>
        <div class="inventory_add_navbar_container_inner_middle">
            <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="HSN-Code">
        </div>
        <div class="inventory_add_navbar">
            <input type="text" name="username" id="username" placeholder="Tax-Rate">
        </div>
        </div>
        <div class="inventory_add_navbar_container_inner_right">
            <button>Add Product</button>
        </div>
        
        
    </div>
    <div class="inventory_data_contain">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>SL-NO</th>
                        <th>ITEMS</th>
                        <th>UNIT</th>
                        <th>BRAND/MODEL</th>
                        <th>HSN-CODE</th>
                        <th>TAX</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mouse</td>
                        <td>Pcs</td>
                        <td>Hp</td>
                        <td>854125</td>
                        <td>18%</td>
                        <td>Active</td>
                    </tr>
                </tbody>
              </table>
             </div>
        
    </div>
</div>

{% endblock main_data %}