{% extends "page_html/inventory.html" %}

{% block main_data %}

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>SL-NO</th>
                <th>INVOICE-NO</th>
                <th>DATE</th>
                <th>ITEMS</th>
                <th>UNIT</th>
                <th>AMOUNT</th>
                <th>CATEGORY</th>
                <th>SUPPLIER/CLIENT</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>SSPL/2526001</td>
                <td>24-04-2025</td>
                <td>Laptop</td>
                <td>Pcs</td>
                <td>40000</td>
                <td>Purchases</td>
                <td>Supplier</td>
                <td>Active</td>
            </tr>
        </tbody>
      </table>
     </div>

{% endblock main_data %}