{% extends "base/base.html" %}

{% block heading %}Broadcast{% endblock heading %}

{% block navigation_tab %}

<a href="{% url 'taskglobaloverview' %}" class='innerpage_hover'>
    <div class="content_navigation_link">Overview</div>
    <span></span>
</a>

{% comment %} <a href="{% url 'taskglobalasign' %}" class='innerpage_hover'>
    <div class="content_navigation_link">Asign</div>
    <span></span>
</a> {% endcomment %}

{% comment %} <a href="{% url 'taskglobalcreate' %}" class='innerpage_hover'>
    <div class="content_navigation_link">Create</div>
    <span></span>
</a> {% endcomment %}


{% endblock navigation_tab %}