{% extends "page_html/setting.html" %} {% block main_data %}

<div class="setting_notification_container">
  <div class="setting_notification_edit_container">
    <div class="notification_select_box">
      <!-- From Uiverse.io by vishnupprajapat -->
      <div class="all_select_box">
        <input type="checkbox" id="cbx-46" class="inp-cbx" />
      </div>
    </div>
    <!-- From Uiverse.io by vishnupprajapat -->
    <div class="notification_mark_btn">
      <button>Mark all read</button>
      <button>Delete</button>
    </div>
  </div>
  <div class="setting_notifications">
    <div class="setting_notification_checked_box">
        <input type="checkbox" id="cbx-47" class="inp-cbxx" />
    </div>
    <div class="setting_notification_data">
      <h6>System</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur a autem,is tenetur eum culpa ex
        totam deserunt blanditiis.
      </p>
    </div>
  </div>
</div>

{% endblock main_data %}
