{% extends "page_html/setting.html" %}

{% block main_data %}

<div class="setting_notification_container">
    <div class="setting_notifications">
        <h6>System</h6>
        <p>Lorem ipsum dolor sit amet consectetur a autem,is tenetur eum culpa ex totam deserunt blanditiis.</p>
    </div>
    <div class="setting_notifications">
        <h6>System</h6>
        <p>Lorem ipsum dolor sit amet consectetur aSed eum ini odio debitis tenetur eum culpa ex totam deserunt blanditiis.</p>
    </div>
</div>

{% endblock main_data %}