<div popover class="profile_edit_popover_container" id="profile_edit_popover">
    <div class="input-group">
    <input type="text" name="username" id="username" class="edit_input" placeholder="Name" />
    </div>
    <div class="input-group">
    <input type="text" name="username" id="username" class="edit_input" placeholder="Email" />
    </div>
    <div class="input-group">
    <input type="text" name="username" id="username" class="edit_input" placeholder="Contact" />
    </div>

    <div class="profile_edit_btn_container">
        <button class="edit_cancel_btn">Cancel</button>
        <button class="edit_save_btn">Save</button>
    </div>
</div>

