{% extends "page_html/setting.html" %}

{% block main_data %}
{% load static %}
<div class="profile_container">
  <div class="profile_img_container">
    <div class="profile_img_wrraper">
        <img src="{% static 'base/images/' %}" alt="">
    </div>
    <div class="profile_img_intro">
        <h5>Sourav Das</h5>
        <p>sjdas552@gmail.com</p>
        <p>Admin</p>
    </div>
    <div class="profile_update_btn">
        {% comment %} <a href="" class="profile_edit_btn"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14 6L8 12V16H12L18 10M14 6L17 3L21 7L18 10M14 6L18 10M10 4L4 4L4 20L20 20V14" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></a>   {% endcomment %}
        <button popovertarget="profile_edit_popover">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14 6L8 12V16H12L18 10M14 6L17 3L21 7L18 10M14 6L18 10M10 4L4 4L4 20L20 20V14" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </button>
        {% comment %} {% include "page_html/setting_profile_edit_popover.html" %} {% endcomment %}
    </div>
  </div>
  <div class="profile_data_container">
    <div class="profile_name_container">
      <div class="profile_name_container_wrraper">
        <div class="profile_name_head">Name</div>
        <div class="profile_name_data">Sourav Das</div>
      </div>
      <div class="profile_name_container_wrraper">
        <div class="profile_name_head">Role</div>
        <div class="profile_name_data">Admin</div>
      </div>
      <div class="profile_name_container_wrraper">
        <div class="profile_name_head">Email</div>
        <div class="profile_name_data">sjdas552@gmail.com</div>
      </div>
      <div class="profile_name_container_wrraper">
        <div class="profile_name_head">Contact</div>
        <div class="profile_name_data">+918245749385</div>
      </div>
      <div class="profile_name_container_wrraper">
        <div class="profile_name_head">Status</div>
        <div class="profile_name_data">Active</div>
      </div>
    </div>
  </div>
</div>
{% endblock main_data %}
