{% extends "page_html/setting.html" %}

{% block main_data %}

<div class="password_container">
<div class="form-container">
	<form class="form">
        <div class="input-group">
			<label for="username">Old Password</label>
			<input type="text" name="username" id="username" placeholder="">
		</div>
		<div class="input-group">
			<label for="username">New Password</label>
			<input type="text" name="username" id="username" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Confirm Password</label>
			<input type="password" name="password" id="password" placeholder="">
		</div>
        <div class="password_change_btn_container">
            <button class="change_password_btn">Change Password</button>
        </div>
        <div class="forgot">
			<a rel="noopener noreferrer" href="#">Forgot Password ?</a>
		</div>
	</form>
</div>
<div class="password_fillup_charactor">
    <p>Please add all necessary characters to create safe password</p>
    <ul class="password_fillup_charactor_points">
        <li>Minimum Characters 12</li>
        <li>One Uppercase Characters</li>
        <li>One Lowercase Characters </li>
        <li>One Special Characters</li>
        <li>One Number</li>
    </ul>
</div>
</div>

{% endblock main_data %}