{% load static %}
<div class="sidebar_container">

      <!-- sidebar toggle area -->

      <div class="sidebar_toggle">
        <a href="{% url 'home' %}" class="desktop_hide">
          <ion-icon name="home-outline" class="sidebar_toggle_icon">
          </ion-icon>
        </a>
        <a href="" class="desktop_hide">
          <ion-icon
            name="checkmark-done-circle-outline"
            class="sidebar_toggle_icon"
          ></ion-icon>
        </a>
        <a href="" class="desktop_hide">
          <ion-icon name="scan-outline" class="sidebar_toggle_icon">
          </ion-icon>
        </a>
        <a href="" class="desktop_hide">
          <ion-icon name="receipt-outline" class="sidebar_toggle_icon"></ion-icon>
        </a>
        <a href="" class="desktop_hide">
          <ion-icon name="grid-outline" class="sidebar_toggle_icon">
          </ion-icon>
        </a>
        <a href="" class="mobile_hide">
          <ion-icon name="checkbox-outline" class="sidebar_toggle_icon ">
          </ion-icon>
        </a>
        <a href="" class="mobile_hide">
          <ion-icon
            name="document-attach-outline"
            class="sidebar_toggle_icon "
          ></ion-icon>
        </a>
        <a href="" class="mobile_hide">
          <ion-icon
            name="clipboard-outline"
            class="sidebar_toggle_icon"
          ></ion-icon>
        </a>
        <a href="" class="mobile_hide">
          <ion-icon name="layers-outline" class="sidebar_toggle_icon">
          </ion-icon>
        </a>
      </div>
    
      <!-- sidebar navigation area -->

      <div class="sidebar">

        <!-- logo area -->
        <a href="{% url 'home' %}">
        <div class="logo_container">
          <div class="logo_area">
            <img src="{% static 'base/images/Socialfly.png' %}" alt="" class="logo" />
          </div>
          <div class="company_name">
           <h5>Vaultifly</h5>
          </div>
        </div>
        </a>

        <!-- sidebar main area -->

        <div class="main">
          <div class="subheading"><p>MAIN</p></div>
          <div class="sidebar_navigation_container">
            <a href="{% url 'home' %}" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="grid-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Dashboard</p></div>
               <!-- <div class="crown"><ion-icon name="diamond-outline"></ion-icon></div> -->
            </a>
            <!-- <div class="crown"><ion-icon name="medal-outline"></ion-icon></div> -->
          </div>
          <!-- <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="layers-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading">
                <p>Classification</p>
              </div>
            </a>
          </div> -->

          <div class="sidebar_navigation_container">
            <a href="{% url 'asset' %}" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="laptop-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Asset</p></div>
            </a>
          </div>

          <div class="sidebar_navigation_container">
            <a href="{% url 'project' %}" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="file-tray-stacked-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Projects</p></div>
            </a>
          </div>

          <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="trending-up-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Finance</p></div>
              <div class="crown"><ion-icon name="diamond-outline"></ion-icon></div>
            </a>
          </div>

          <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="document-text-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Report</p></div>
            </a>
          </div>
        </div>
        <!-- sidebar records area -->
        <div class="project">
          <div class="subheading"><p>RECORDS</p></div>
          <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="people-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Teams</p></div>
            </a>
          </div>
          <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="person-add-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Clients</p></div>
            </a>
          </div>
        </div>
        <!-- sidebar general area -->
        <div class="recoards">
          <div class="subheading"><p>GENERAL</p></div>
          <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Setting</p></div>
            </a>
          </div>
          <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Support</p></div>
            </a>
          </div>
          <div class="sidebar_navigation_container upgrade">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="medal-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Upgrade</p></div>
            </a>
          </div>
          <div class="sidebar_navigation_container">
            <a href="" class="sidebar_navigation">
              <div class="sidebar_icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </div>
              <div class="sidebar_navigation_heading"><p>Logout</p></div>
            </a>
          </div>
        </div>
      </div>
    </div>