{% extends "page_html/suppliers.html" %}

{% block main_data %}

<div class="supplier_add_input">

    <div class="supplier_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Supplier Name">
    </div>
    <div class="supplier_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Company">
    </div>
    <div class="supplier_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="GST NO">
    </div>
    <div class="supplier_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Address">
    </div>
    <div class="supplier_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Mobile No">
    </div>
      <div class="supplier_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Email">
    </div>
      <div class="supplier_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Country">
    </div>
    
    <button>Add Supplier</button>
</div>

{% endblock main_data %}