{% extends "base/base.html" %}

{% block heading %}Support{% endblock heading %}

{% block navigation_tab %}

<a href="">
<div class="content_navigation_link">All</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Ticket</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">In Progress</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Resolve</div>
<span></span>
</a>

<a href="">
<div class="content_navigation_link">Closed</div>
<span></span>
</a>



{% endblock navigation_tab %}
