{% extends "page_html/task_global.html" %}

{% block main_data %}

<div class="task_add_input">

        <div class="task_capture_input_filed_container">
            <form action="">
            <select name="status" class="input_field_dropdown">
            <option value="hi">Project</option>
            <option value="Compliance">Admin</option>
            <option value="Compliance">User</option>
            <option value="Compliance">Viewers</option>
            </select>
        </form>
        </div>

        <div class="task_capture_input_filed_container">
        <form action="">
            <select name="status" class="input_field_dropdown">
            <option value="hi">Team</option>
            <option value="Compliance">Admin</option>
            <option value="Compliance">User</option>
            <option value="Compliance">Viewers</option>
            </select>
        </form>
    </div>

    <div class="task_capture_input_filed_container">
        <form action="">
            <select name="status" class="input_field_dropdown">
            <option value="hi">Role</option>
            <option value="Compliance">Admin</option>
            <option value="Compliance">User</option>
            <option value="Compliance">Viewers</option>
            </select>
        </form>
    </div>
    <div class="task_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Task-List">
    </div> 
    <div class="task_capture_input_filed_container">
        <input
          type="date"
          name="username"
          id="username"
          placeholder="dd-mm-yy"
        />
     </div>   
     <div class="task_capture_input_filed_container">
        <input
          type="date"
          name="username"
          id="username"
          placeholder="dd-mm-yy"
        />
     </div>
     
    
    <button>Add Task</button>
    
</div>    

{% endblock main_data %}
