{% extends "page_html/team.html" %}

{% block main_data %}

<div class="team_add_input">

    <div class="team_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Name">
    </div>
     <div class="team_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Project">
    </div>
     <div class="team_capture_input_filed_container">
        <form action="">
        <select name="status" class="input_field_dropdown">
          <option value="hi">Role</option>
          <option value="Compliance">Admin</option>
          <option value="Compliance">User</option>
          <option value="Compliance">Viewers</option>
        </select>
      </form>
    </div>
     <div class="team_capture_input_filed_container">
    
    <form action="">
        <select name="status" class="input_field_dropdown">
          <option value="hi">App-Asign</option>
          <option value="Compliance">Asset-Management</option>
          <option value="Compliance">Project</option>
          <option value="Compliance">Inventory</option>
          <option value="Compliance">Finance</option>
          <option value="Compliance">Manufacture</option>
        </select>
      </form>
       </div>

    <button>Add Member</button>

</div>

{% endblock main_data %}