{% extends "page_html/team.html" %}

{% block main_data %}

<div class="team_add_input">

    <div class="team_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Name">
    </div>
     <div class="team_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Project">
    </div>
     <div class="team_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="Role">
    </div>
     <div class="team_capture_input_filed_container">
        <input type="text" name="username" id="username" placeholder="asign">
    </div>
    <button>Add Member</button>

</div>

{% endblock main_data %}