*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* variable */

:root{

    /* theame  */

    --theame1: linear-gradient(230deg, #759bff, #843cf6); /*  */
    --theame2:linear-gradient(230deg, #fc5286, #fbaaa2); /*  */
    --theame3: linear-gradient(230deg, #ffc480, #ff763b); /*  */
    --theame4: linear-gradient(230deg, #0e4cfd, #6a8eff); /* */
    --theame5:#F2F0EF;
    --body-color:#fff;
    --sidebar-color: #759bff;
    --sidebar-hover-color: #fbaaa2;
    --sidebar-toggle-color: #fbaaa2;
    --sidebar-toggle-hover-color: #759bff;
    --navbar-color:#fbaaa2;
    --maincontent-color:#fff;
    --logo-color:rgb(255, 255, 255);
    --save-button-color:#759bff;
    --edit-button-color:#ffc480;
    --delete-button-color:linear-gradient(230deg, #fc5286, #fbaaa2);
    --section-color:white;
    --heading-color-b:black;
    --heading-color-w:rgb(255, 255, 255);
    --paragraph-color-b:black;
    --paragraph-color-w:rgb(255, 255, 255);
    --anchor-color-b:black;
    --anchor-color-w:rgb(255, 255, 255);


    /* font  */

    --fontFamily-body:'Ubuntu', sans-serif;
    --fontFamily-heading:'Plus Jakarta Sans', sans-serif;
    --fontFamily-paragraph:'Plus Jakarta Sans', sans-serif;
    --fontFamily-anchor:'Plus Jakarta Sans', sans-serif;

     /* font size  */

     --fontSize-body:clamp(1rem, 2vw + 1rem, 1.125rem); 
     --fontSize-h1:clamp(2rem, 2vw + 1rem, 2.5rem); 
     --fontSize-h2:clamp(1.75rem, 2vw + 1rem, 2rem); 
     --fontSize-h3:clamp(1.5rem, 2vw + 1rem, 1.75rem); 
     --fontSize-h4:clamp(1.25rem, 2vw + 1rem, 1.5rem); 
     --fontSize-h5:clamp(1rem, 2vw + 1rem, 1.25rem); 
     --fontSize-h6:clamp(0.813rem, 2vw + 1rem, 1rem); 
     --fontSize-paragraph:clamp(0.909rem, 1vw, 1rem); 
     --fontSize-anchortag:clamp(0.917rem, 1vw + 0.25rem, 0.5rem); 
     --fontSize-small:clamp(0.75rem, 1.8vw + 1rem, 0.813rem); 
     --fontSize-extrasmall:clamp(0.5rem, 1.2vw + 0.5rem, 0.65rem);

     /* radius  */

     --borderRadius:0.7rem;
     --borderRadius-button:0.6rem;

     /* spacing  */

     --large-spacing:3rem;
     --medium-spacing:2rem;
     --small-spacing:1rem;
     --horizontal-spacing:0.7rem 0;
     --horizontal-spacing-small:0.3rem 0;
     --vertical-spacing:0 1.5rem;
     --vertical-spacing-small:0 1.1rem;
  

     /* button spacing  */

     --button-spacing:0.7rem;
     --button-vertical-spacing:0 0.7rem;
     --button-horizontal-spacing:1.6rem 0;

}

html{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    line-height: 1rem;
}

/* body  */

body{
    min-width: 100vw;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
    /* gap: 0.5rem; */
    /* background: linear-gradient(90deg, rgba(224, 222, 186, 1) 0%, rgba(222, 212, 184, 1) 35%, rgba(129, 155, 166, 1) 100%); */
    background-color: var(--body-color);
}
aside{
    background: var(--sidebar-color);
}
section{
    display: flex;
    flex-direction: column;
    /* gap: 0.3rem; */
}
nav
    {
    background: var(--navbar-color);
    padding: 0.3rem 1rem;
}
main{
    display: flex;
    flex-direction: column;
    height: 90vh;
    background: var(--maincontent-color);
    padding: 0rem 1rem;
}

svg{
    width: 1rem;
    height: 1rem;
    /* color: var(--theame2); */
}
/* heading */

h1{
    font-size: var(--fontSize-h1);
}
h2{
    font-size: var(--fontSize-h2);
}
h3{
    font-size: var(--fontSize-h3);
}
h4{
    font-size: var(--fontSize-h4);
}
h5{
    font-size: var(--fontSize-h5);
}
h6{
    font-size: var(--fontSize-h6);
}

/* paragraph  */

p{
    font-size: var(--fontSize-paragraph);
}

/* anchor  */

a{
    font-size: var(--fontSize-anchortag);
    color:var(--anchor-color-b);
}
button{
    padding: 0.7rem 1rem;
}
/* sidebar  */

.sidebar_container{
    min-height: 100dvh;
    display: flex;
    /* background: var(--sidebar-color); */
}
.sidebar_toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: var(--sidebar-toggle-color);
    padding: 0.7rem 0.5rem;
}
.sidebar_toggle :hover{
    background-color:var(--sidebar-toggle-hover-color);
}
.svg_icon{
    padding: 11px;
    border-radius: var(--borderRadius);
}
.desktop_hide{
    display: none;
}
.sidebar{
    background: var(--sidebar-color);
    /* background: linear-gradient(90deg, rgba(224, 222, 186, 1) 0%, rgba(222, 212, 184, 1) 35%, rgba(129, 155, 166, 1) 100%); */
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: var(--small-spacing) 0;
    color: var(--anchor-color-w);
}
.logo_container{
    display: flex;
    justify-content:left;
    align-items: center;
    /* background-color: aqua; */
    padding: 0 var(--small-spacing);
    gap: 0.7rem;
}
.logo_area{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2rem;
    max-height: 2rem;
}
.logo{
    width: 100%;
    height: 100%;
    /* background-color: #DCCFC0; */
}
.company_name{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #A2AF9B; */
    color: var(--heading-color-b);
}

/* sidebar-main  */

.main{
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items: center;
    padding: var(--horizontal-spacing);
    /* background-color: rgb(160, 141, 177); */
    
}
.sidebar_navigation_container{
    min-width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #DCCFC0; */
}
.sidebar_navigation_container :hover{
    background:var(--sidebar-hover-color);
    transition: 0.2s ease-in-out;
}
.sidebar_navigation{
    min-width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 1rem;
    padding: 12px var(--medium-spacing);
    margin: 2px 0;
    /* background-color: bisque; */
    color:var(--heading-color-b);
}
.crown{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
/* .upgrade{
    border-radius: var(--borderRadius);
    background-color: #819BA6; 
    background:linear-gradient(90deg, rgba(129, 155, 166, 1) 0%, rgba(222, 212, 184, 1) 35%, rgba(224, 222, 186, 1) 100%);
} */

.sidebar_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar_navigation_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #EEEEEE; */
}
.subheading{
    min-width: 100%;
    display: flex;
    justify-content:left;
    align-items: start;
    border-bottom: 0.1rem solid black;
    /* background-color: aqua; */
     padding: 0.3rem var(--small-spacing);
}
.subheading p{
     font-size: var(--fontSize-extrasmall);
    
}
/* navbar  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* searchbar  */

.searchbar {
 display: flex;
 line-height: 15px;
 align-items: center;
 position: relative;
 max-width: 300px;
}

.input {
 width: 100%;
 height: 40px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 1px solid black;
 /* border-radius: 8px; */
 /* outline: none; */
 /* background-color: var(--theame2); */
 color:var(--heading-color-b);
 transition: .3s ease;
}

.input::placeholder {
 color: #676769;
}

.input:focus, input:hover {
 outline: none;
 border-color: #fc5286;
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.searchbar_icon {
 position: absolute;
 left: 1rem;
 fill: #676769;
 width: 1rem;
 height: 1rem;
}
/* userdropdown  */
.userdropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: #108ec4; */
}
/* notification  */
 


/* user  */



/* main area  */

.main_heading{
    padding: 0.9rem 0;
    /* background-color: #9e9ea7; */
}
.main_content{
    display: flex;
    flex-direction: column;
}
.main_content_navigation_tab{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:var(--sidebar-color);
}
.content_navigation_link{
    padding: 0.7rem 0.7rem;
    color: var(--heading-color-w);
    /* background-color: #cabbbb; */
}

.main_content_data{
    padding: 0.7rem 0;
}
/* setting profile  */

.profile_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.profile_img_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    background:var(--theame2);
}
.profile_img_wrraper img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}
.profile_img_intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.profile_update_btn{
    padding: 1rem;
}
.profile_edit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--edit-button-color);
}
.profile_data_container{
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #FAF9EE; */
} 
.profile_name_container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.profile_name_container_wrraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0.7rem;
    padding: 0.7rem;
    gap: 1rem;
    background-color: var(--theame5);

}
.profile_name_head ,.profile_name_data{
    text-align: left;
    padding: 0.3rem;
    /* background-color: bisque; */
}

/* setting password  */

.password_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-container{
    background-color: var(--theame5);
    padding: 1rem;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group input,label{
    padding: 0.8rem 0.5rem;
}
.password_change_btn_container{
    padding: 1rem 0;
}
.change_password_btn{
    background: var(--save-button-color);
    color: var(--heading-color-w);
}
.password_fillup_charactor{
    background: var(--theame2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.password_fillup_charactor p{
    color: var(--heading-color-b);
    padding: 1rem;
}
.password_fillup_charactor_points li{
    list-style-type:disc;
    padding: 0.7rem 0;
    color: var(--heading-color-w);
}

/* setting notification  */

.setting_notification_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem;
   
}
.setting_notifications{
    background: var(--theame2);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* media mobile  */

@media(max-width:667px){

    body{
        width: 100vw;
        position: relative;
        grid-template-columns: 1fr;
    }
    aside{
        grid-row: 2;
        position:fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        min-width: 100% !important;
        /* height: 40px !important; */
    }
    main{
        display: none;
    }
    .sidebar_container{
        flex-direction: column;
        min-height: 40px !important;
    }
    .sidebar{
        display: none;
    } 
    .sidebar_toggle{
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 0;
        padding: 0;
        min-height: 40px !important;
    }
    .mobile_hide{
        display: none;
    }
    .desktop_hide{
        display:contents;
    } 
}


